
<p>home works!</p>

<button matTooltip="Info about the action" mat-stroked-button (click)="openSnackBar('Message', 'Submit')">Show
    snack-bar</button>

<p>
    <mat-toolbar color="primary">
        <span>My Application</span>
    </mat-toolbar>
</p>

<div class="overlay" *ngIf="showSpinner">
    <div class="center">
        <mat-progress-spinner diameter=50
                              mode="indeterminate" 
                              color="accent">
        </mat-progress-spinner> 
    </div>
</div>

<app-parentcomp></app-parentcomp>
<br>

<button kendoButton [primary]="true">My Kendo UI Button</button>


  